body{
font-family:Arial;
margin:0;
background:#f4f4f4;
}

header{
background:#009270;
color:white;
padding:16px;
font-size:22px;
text-align:center;
font-weight:bold;
}

#matches{
padding:12px;
}

.match{

background:white;
margin-bottom:14px;
padding:14px;
border-radius:10px;
box-shadow:0 3px 8px rgba(0,0,0,0.15);

}

.match h3{

margin:0;
font-size:18px;

}

.score{

margin-top:8px;

font-size:16px;

}

.status{

margin-top:6px;

color:green;

font-weight:bold;

}

.live{

color:red;

font-weight:bold;

font-size:14px;

}
