body{
  font-family: Arial, sans-serif;
  background:#0b1e2d;
  color:white;
  margin:0;
  text-align:center;
}

h1{
  background:#132f4c;
  padding:15px;
  margin:0;
}

#matches{
  padding:10px;
}

.match{
  background:#132f4c;
  margin:10px;
  padding:15px;
  border-radius:10px;
  cursor:pointer;
  transition:0.3s;
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.match:hover{
  background:#1d4c7a;
}

.team-logo{
  width:40px;
  height:40px;
  object-fit:contain;
  margin-right:10px;
}

.match-info{
  flex:1;
  text-align:left;
}

.live{
  color:red;
  font-weight:bold;
}
