body { font-family: Arial; background:#0b1e2d; color:white; padding:10px; }
h1,h2,h3 { margin:5px 0; }
.match { background:#132f4c; margin:5px 0; padding:10px; border-radius:10px; cursor:pointer; }
.match:hover { background:#1e3a5a; }
